.top-bar {
  height: 60px;
  background-color: cyan;
}

input { 
  background-color: #fff;
  border: 1px solid green;
  border-radius: 20px;
  line-height: 32px;
  padding: 5px;
  padding-left: 40px;
  margin: 10px 0px;
}
input:focus {
  outline: none;
}
.btn {
  margin: 10px;
}

.btn:hover {
  background-color: black;
  color: white;
}
.fa {
  position: absolute;
  float: left;
}