h2, h4 {
	text-transform: uppercase;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.padding-hori-0 {
	padding-right: 0px;
	padding-left: 0px;
}

.items {
	margin: 0 10px;
}

.list-group {
	height: 90vh;
	border-right: 1px solid #ddd;
	margin-bottom: 0px;
}

.list-group .list-group-item {
	border-radius: 0px;
	border-right: 0px;
	cursor: pointer;
	padding-top: 25px;
	padding-bottom: 25px;
	text-transform: uppercase;	
}

.arrow-right {
	position: 	absolute;	
	float: 	right;
	right: 6px;
    top: 38%;
}

.input-group {
	margin-top: 20px;
}

.notification{
	color: #fff;
	height: 20px;
    padding-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 990px) {
	.list-group {
		height: 100%;
	}
}

.edit-tab {
	position: fixed;
	margin: 0 auto;
	min-width: 43vw;
	height: auto;
	z-index: 2;
	top: 100px;
	left: 30vw;
	background-color: #f0ad4e;
    border-color: #eea236;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px 7px 0px 7px; 
	display: none;
}

.information-content {
	background-color: #fff;
}

.bottom-button {
	float: right;
	padding: 5px;
}

.table {
	margin-bottom: 5px;
}

.header-tab {
	color: #fff;
	text-align: center;
}

.input-information {
	border: none;
	border-radius: 5px;
	padding-left: 5px;
}

#add-button {
	margin-bottom: 10px;
}

.add-tab {
	display: none;
	position: fixed;
	margin: 0 auto;
	min-width: 43vw;
	height: auto;
	z-index: 2;
	top: 100px;
	left: 30vw;
	background-color: #337ab7;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 5px 7px 0px 7px; 
}

.input-information {
	border: none;
	border-radius: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #337ab7;
	width: 100%;
}

.input-information:focus {
	outline: none;
}

.border-red {
	border-color: red;
}